extends layout

block content
    h1= title

    ul
    each bar in bar_list
        li
            a(href = bar.url) #{bar.brand.name } 
            | #{bar.type.charAt(0).toUpperCase() + bar.type.slice(1)} bar 
            | #{bar.price} $