extends layout

block content
    h1= title

    ul
    each bar in bar_list
        li
            a(href = bar.url) #{bar.brand? bar.brand.name:"Unbranded"} 
            | #{bar.type.charAt(0).toUpperCase() + bar.type.slice(1)} bar 
            | #{bar.price} $
    else
        li No bars in inventory