extends layout

block content
    h1= brand.name
    
    p #{brand.description? brand.description: 'No description'}

    if brand.website
        a(href!= brand.website) Website
    hr
    p
        a(href=brand.url+'/delete') Delete Brand
    p
        a(href=brand.url+'/update') Update Brand